<h2>List of registered pets</h2>


<input placeholder="name" type="text" [(ngModel)]="name">
<input placeholder="age" type="string" [(ngModel)]="age">
<button mat-raised-button (click)="search()">Search</button>
<button mat-raised-button (click)="clean()" *ngIf="flagFilter">Clean filter</button><br><br>
<table>
    <thead>
        <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Exact?</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of itemList">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.age}}</td>
        <td>{{item.exact}}</td>
        <td>
            <button mat-raised-button (click)="edit(item.id)">Edit</button>
            <button mat-raised-button (click)="delete(item.id)">Delete</button>
        </td>
        </tr>
    </tbody>
</table>

<br>
<button mat-raised-button (click)="create()">Create</button>